/* Genel Ayarlar */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica;
}

/* Arkaplan */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/office.jpg') no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3377ff;
    opacity: 40%;
    z-index: -1;
}

/* İçerik */
.title {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 16%;
}

p[id="description"] {
    font-size: 0.80rem;
    margin-top: -20px;
}

h1[id="title"] {
    border-color: black;
    border-width: 10px;
    margin-top: -80px;
}

.box {
   width: 70vh;
   height: 100vh;
   margin-left:auto;
   margin-right: auto;
   border-radius: 5px;
   background-color: rgba(0, 26, 77, 0.3);
}

.survey-form {
    color: white;
    text-align: left;
    opacity: 100%;
    margin-left: 2vh;
    font-size: 0.85rem;
}